#control {
  z-index: 1000;
  position: absolute;
  top: 0;
  left: 0;
}

#control .control-panel {
  display: none;
}

#control.expanded .control-panel {
  display: block;
}

.control-header {
  font-family: monospace;
  padding: 5px 10px;
  background-color: #333;
  color: white;
  cursor: pointer;
}
