@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

html, body {
  margin: 0;
  padding: 0;
}

#notebook {
  font-family: "Source Serif 4", sans-serif;
  color: #1b1e23;
  line-height: 1.6;

  max-width: 640px;
  margin: auto;
  padding: 15px;
}

h1, h2, h3, h4, h5, h6 {
  color: #333;
  font-weight: 700;
  line-height: 1.15;
  margin-bottom: 17px;
}

p, table, figure, figcaption, h1, h2, h3, h4, h5, h6, .katex-display {
  max-width: 640px;
}


h2 ~ p,
h3 ~ p,
h4 ~ p,
h2 ~ table,
h3 ~ table,
h4 ~ table {
    margin-top: 0;
}

figure.fullbleed {
  margin: 30px 0 50px;
  position: relative;
  left: calc( -100vw / 2 + 320px );
  max-width: 100vw;
  width: 100vw;
}

figcaption {
  color: #888;
  font-family: sans-serif;
  margin: auto;
  font-size: 14px;
}

a[href],
.observablehq--keyword,
.observablehq--blue {
  color: #3182bd;
}

a[href] {
  text-decoration: none;
}

a[href]:hover {
  text-decoration: underline;
}

.observablehq {
  margin: 17px 0;
}

.observablehq:empty:after,
.observablehq > link:only-child,
.observablehq > style:only-child,
.observablehq--inspect {
  font-family: monospace;
  font-size: 13px;
  overflow-x: auto;
  display: block;
  padding: 4px 0;
  white-space: pre;
}

.observablehq--inspect {
  display: none;
}

.observablehq form {
  font-family: sans-serif;
  font-size: 13px;
  color: #666;
}

.observablehq figcaption {
  font-family: sans-serif;
}
