html, body {
  background-color: black;
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  text-align: center;
}

.equations {
  font-size: 0.8em;
  opacity: 0.7;
  text-align: right;
  display: inline-block;
  position: absolute;
  top: 10px;
  right: 65px;
}

.equation {
  margin-bottom: 0.5em;
  text-align: left;
}

body.isInverted {
  background-color: white;
}

canvas {
  margin-left: auto;
  margin-right: auto;
}

.controls-hidden .hidable {
  display: none;
}

#equation {
  position: absolute;
  top: 0;
  right: 0;
}

.selector {
  text-align: left;
  z-index: 10;
  position: absolute;
  bottom: 0;
  padding: 8px;
}
.selector button {
  font-size: 0.9em;
  font-style: italic;
  cursor: pointer;
  outline: none;
  background: none;
  border: none;
  opacity: 0.5;
}
.selector button.selected {
  opacity: 1.0;
}
.fields {
  text-align: left;
  font-size: 0.9em;
  font-style: italic;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  padding: 10px;
}

.field {
  margin-bottom: 0.2em;
  position: relative;
}

.field input[type=range] {
  -webkit-appearance: none;
  width: 200px;
  height: 20px;
  border: none;
  vertical-align: middle;
  cursor: ew-resize;
  background: rgba(255, 255, 255, 0.1);
}

body.isInverted .field input[type=range] {
  background: rgba(0, 0, 0, 0.1);
}

.field span {
  vertical-align: middle;
  margin-left: 10px;
  position: absolute;
  top: 4px;
  right: 7px;
  pointer-events: none;
  opacity: 0.7;
}

.field input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  cursor: ew-resize;
  background-color: rgba(255, 255, 255, 0.2);
}

body.isInverted .field input[type=range]::-webkit-slider-thumb {
  background-color: rgba(0, 0, 0, 0.2);
}

.field input[type=range]:focus {
  outline: none;
}

.field input[type=range]::-ms-track {
  width: 200px;
  cursor: pointer;
  border: none;
  height: 20px;
  background: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.2);
}

body.isInverted .field input[type=range]::-ms-track {
  background: rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.2);
}

.btn {
  outline: none;
  font-size: 1em;
  cursor: pointer;
  font-style: italic;
  background: none;
  border: none;
  opacity: 0.7;
  margin-left: 2px;
  margin-right: 1em;
  margin-top: 0.3em;
  width: 70px;
  text-align: center;
}

.bg-color {
  background: rgba(255, 255, 255, 0.1);
}

body.isInverted .bg-color {
  background: rgba(0, 0, 0, 0.1);
}

.fields input[type=text] {
  border: none;
  outline: none;
  height: 1.4em;
  line-height: 1.4em;
  text-align: right;
  width: 80px;
  margin-left: 2px;
  margin-top: 0.3em;
}
